h1 {
    font-family: monospace;   
}

canvas {
	border: 2px solid black;
	background-color: black;
}
video {
	display: none;
}

input[type="button"] {
  }

body {
    width: 300px;
}

.tt {
    font-size: 20px;
}

.plain {
    font-size: 20px;
    width: 44px;
    height: 44px;
    background-color: lightblue;
}

.ss {
    width: 90px;
    height: 40px;
    background-color: yellow;
}

.cl {
    width: 44px;
    height: 44px;
    background-color: pink;
}